<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=sacsports.db.8680971.hostedresource.com;Initial Catalog=sacsports;Persist Security Info=True;User ID=sacsports;Password=Sacsports1@" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>