@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Index</h2>
<div id="menucontainer">
    <ul id="menu">
        <li>@Html.ActionLink("Create Account", "Create", "Account")</li>
    </ul>
</div>
@Html.Partial("Details")
